:root{
    --negro: #000;
    --gris:#414141;
    --blanco: #fff;
    --azulPrimario: #1735B3;
    --azulSecundario: #0e1f42;

    --fuentePrincipal:'Fira Sans', sans-serif;;
}
/* GLOBALES */
body{
    margin: 0;
    font-family: var(--fuentePrincipal);
    background-color: var(--azulSecundario);
    
}
/* NAVEGACION */
.navegacion{
    display: flex;
    align-items: center;
    padding: 2rem;
}

.navegacion__logo{
    color: var(--negro);
    font-size: 2rem;
    margin: 0;
    font-weight: 700;
}
.navegacion__link{
    color: var(--blanco);
    border-bottom: 2px solid var(--azulPrimario);
    border-right: 2px solid var(--azulPrimario);
    padding: .6rem;
    margin-left: .5rem;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
.icono{
    width: 2rem;
    height: 1rem;
}